* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
    font-family: Arial, Helvetica, sans-serif;
}
.app {
    background-color: #f7f7f7;
}

.wrapper {
    padding: 40px;
}
.wrapper__img {

}
.wrapper__content {
    padding: 20px;
    text-align: center;
}
.wrapper__heading {
    color: #353535;
    font-weight: 800;
    text-align: center;
}
.wrapper__text {
    color: #a8a8a8;
}
.wrapper__size {
    margin: 0 20px;
    color: #353535;
}
.wrapper__price {
    color: #353535;
    font-weight: 800;
    font-size: 2rem;
}
.wrapper__quality {

}
.wrapper__add {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper__btn {
    padding: 10px;
}
.btn__add {
    background-color: #f5b300;
    outline: none;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-weight: 800;
    padding: 10px 25px;
}
footer {
    background-color: #000;
    
}
.footer__app {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__left {

}
.footer__text-left {
    color: #fff;
    font-weight: 800;
    font-size: 3rem;
}
.footer__right {

}
.footer__text-right {
    color: #fff;
}
.footer__text-right {

}