@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}


body {
	background:url("./hinh-anh-ghe-chu-A-boc-da.jpg") top center/cover no-repeat;
}

.courses-container {
	font-family: 'Muli', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	min-height: 100vh;
	margin: 0;
}

.course {
	background-color: #fff;
	border-radius: 1px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	overflow: hidden;
	max-width: 900px;
}
.course-heading {
	font-weight: 800;
}
.course-heading-sub {
	font-size: 0.8rem;
	opacity: 0.6;
}
.course-price {
	font-size: 2rem;
}
.course-text {
	opacity: 0.6;
}

.course-preview {
	background-color: #262532;
	color: #fff;
	padding: 30px;
	max-width: 350px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	position: relative;
	
}
.course-info  img{
	width: 100%;
}
.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}
.content {
	display: flex;
	justify-content: space-around;
}
.circel {
	width: 20px;
	height: 20px;
	color: aqua;
	border-radius: 50%;
}
@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}